body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures the html and body elements fill the height of the viewport */
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; /* 100% of the viewport's width */
    height: 100vh; /* 100% of the viewport's height */
}

.container {
    display: flex;
    align-items: center;
    width: 500px;
    height: 600px;
    border: 1px solid #023047; /* Correctly sets the border with width, style, and color */
    flex-direction: column;
    background-color: #8ecae6;
    border-radius: 12px;
    margin: 10px;
    padding-bottom:5px ;
}
.screenContainer{
    width: 470px;
    height: 100px;
    border: 4px solid #023047;
    margin-top: 10px;
    background-color: gray;
    font-size: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin-top: 15px;
    padding-bottom: 15px;
    
}
.screen{
   
    text-align: right;
    background-color: gray;
    width: 450px;
    box-sizing: border-box; /* Include padding in the total width and height */
    overflow: hidden;
    padding: 10px;
    height: 90px;
    font-weight: bolder;
    
    
}
.buttonsContainer{
    
    width: 470px;
    height: 450px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}
.operands{
    
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.a{
    width: 100px;
    height: 100px;
    
    border: 2px solid #023047;
    background-color: #fb8500;
    
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px; /* Adds space around each button */
    margin: 10px;
    font-size: 30px;
    font-weight: bolder;
}
.a:hover{
    background-color: #023047;

}
.numbers{
    
    
    width: 470px;
    display: flex;
    flex-direction: column;
    height: 350px;
    text-align: center;
    
}
.b{
    
    border: 1px solid black;
    display: flex;
    
    width: 170px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px;
    background-color: #219ebc;
    font-size: larger;
    font-weight: bold;
}
.b:hover{
    background-color:#023047;
}
.FirstRow{
    display: flex;
   
    height: 100px;
}
.SecondRow{
   display: flex;
   height: 100px;
}
.ThirdRow{
    display: flex;
    height: 100px;
}
.FourthRow{
    display: flex;
    height: 100px;
}
